.widget-github-title {
  font-size: 14px;
  font-weight: 700;
}

.widget-github-grid {
  spacing: 3px;
}

.widget-github-week {
  spacing: 3px;
}

.widget-github-day {
  width: 12px;
  height: 12px;
  border-radius: 3px;
}
